<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products view</title>
    <link rel="stylesheet" href="/CSS/adminproduct.css">
    <script src="/Javascript/AdminProduct.js"></script>
    <link rel="stylesheet" href="/CSS/Admin-NavBar.css">
    <script src="/Javascript/nav-bar.js"></script>
    <script src="/Javascript/adminNavbar.js"></script>
</head>
<body>
    <%- include('./partials/Admin-NavBar.ejs') %>

    <!-- Container for the product cards -->
    <div class="cards">
        <% products.forEach(product => { %>
            <div class="card">
                <div class="card__image-holder">
                    <img class="card__image" src="/images/Indian/Newfolder/<%= product.img %>" alt="<%= product.name %>" />
                </div>
                <div class="card-title">
                    <a href="#" class="toggle-info btn">
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                    <h2>
                        <%= product.name %>
                        <small>Collection: <%= product.collection_id %></small>
                    </h2>
                </div>
                <div class="card-flap flap1">
                    <div class="card-description">
                        <%= product.description %>
                    </div>
                    <div class="card-flap flap2">
                        <div class="card-actions">
                            <a href="/admin/editProduct/<%= product._id %>" class="btn">Edit</a>
                            <a href="/admin/deleteProduct/<%= product._id %>" class="btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>

        <!-- Add Product Card -->
        <div class="card">
            <div class="card__image-holder">
                <!-- <img class="card__image" src="../images/Admin/add.png" /> -->
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Add Product
                    <!-- <small>Collection:</small> -->
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Click on the add button to add a product
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="/admin/addProduct" class="btn">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
