<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>
  <link rel="stylesheet" href="/CSS/Orders.css">
  <link rel="stylesheet" href="/CSS/Admin-NavBar.css">
  <script src="/Javascript/nav-bar.js"></script>
  <script src="/Javascript/adminNavbar.js"></script>
</head>


<body>
  <%- include('./partials/Admin-NavBar.ejs') %>

    <div class="container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Order Id</div>
          <div class="col col-2">Customer Name</div>
          <div class="col col-3">Total Amount</div>
          <div class="col col-4">Ordered</div>
          <div class="col col-5">Status</div>
        </li>
        <% orders.forEach(order=> { %>
          <li class="table-row">
            <div class="col col-1" data-label="Order Id">
              <%= order._id %>
            </div>
            <div class="col col-2" data-label="Customer Name">
              <% if (order.user_id) { %>
                <p><%= order.user_id.email %></p>
              <% } else { %>
                <p>Unknown User</p>
              <% } %>
            </div>
            <div class="col col-3" data-label="Total Amount">$<%= order.total_price.toFixed(2) %></div>
            <div class="col col-4" data-label="Ordered Products">
              <% order.product_ids.forEach(product => { %>
              <p><%= product.name %> - Quantity: <%= product.quantity %></p>
              <% }) %>
            </div>
            <div class="col col-5" data-label="Status">
              <%= order.status %>
            </div>
            <div class="col col-6" data-label="Created At">
              <%= new Date(order.created_at).toLocaleDateString('en-US', { timeZone: 'UTC' }) %>
            </div>
          </li>
          <% }) %>
        </ul>
    </div>
</body>

</html>