<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="vewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/layout.css">
    <!-- <script src="/Javascript/layout.js"></script>
    <script src="/Javascript/editable.js"></script> -->
    <script src="/Javascript/nav-bar.js"></script>
    <script src="/Javascript/adminNavbar.js"></script>
    <!-- <script src="/Javascript/Requests.js"></script> -->
    <link rel="stylesheet" href="/CSS/Admin-NavBar.css">
    <title>Layout</title>
    <script>


        document.addEventListener('DOMContentLoaded', () => {
            const disableButtonsBasedOnApprovement = () => {

                document.querySelectorAll('tr').forEach(row => {
                    const requestApprovement = row.querySelector('.approvement-status').innerText.trim();

                    if (requestApprovement !=='No response') {
                        row.querySelector('.accept-btn').disabled = true;
                        row.querySelector('.reject-btn').disabled = true;
                    }
                });
            };

            //disableButtonsBasedOnApprovement();

            document.querySelectorAll('.accept-btn').forEach(button => {
                button.addEventListener('click', async () => {
                    const requestId = button.getAttribute('data-id');
                    console.log(`Accept button clicked for request ID: ${requestId}`);
                    try {
                        const response = await fetch(`/admin/acceptRequest/${requestId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },

                        });
                        if (response.ok) {
                            console.log('Request accepted successfully');
                            alert('Request accepted successfully');
                            button.disabled = true; // Disable the button after successful accept
                            button.nextElementSibling.disabled = true;
                            location.reload(); // Reload the page to see the changes
                            
                        } else {
                            console.error('Failed to accept request');
                            alert('Failed to accept request');
                        }
                    } catch (error) {
                        console.error('Error accepting request:', error);
                        alert('Error accepting request');
                    }
                });
            });

            document.querySelectorAll('.reject-btn').forEach(button => {
                button.addEventListener('click', async () => {
                    const requestId = button.getAttribute('data-id');
                    console.log(`Reject button clicked for request ID: ${requestId}`);
                    try {
                        const response = await fetch(`/admin/rejectRequest/${requestId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },

                        });
                        if (response.ok) {
                            console.log('Request rejected successfully');
                            alert('Request rejected successfully');
                            button.disabled = true; // Disable the button after successful accept
                            button.nextElementSibling.disabled = true;
                            location.reload(); // Reload the page to see the changes
                        } else {
                            console.error('Failed to reject request');
                            alert('Failed to reject request');
                        }
                    } catch (error) {
                        console.error('Error rejecting request:', error);
                        alert('Error rejecting request');
                    }
                });
            });
        });


    </script>

</head>

<body>
    <!-- <%- include('./partials/Admin-NavBar.ejs') %> -->

    <div class="content">
        <div class="container">
            <h2 class="mb-5"></h2>
            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <label class="control control--checkbox">
                                    <!-- <input type="checkbox" class="js-check-all" />
                                    <div class="control__indicator"></div> -->
                                </label>
                            </th>
                            <th scope="col">Request ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Approvement</th>
                            <th scope="col">Accept Request</th>
                            <th scope="col">Reject Request</th>
                            <th scope="col">
                                <label class="custom-control ios-switch" style="position: relative; top: 10px;">
                                    <input type="checkbox" class="ios-switch-control-input js-ios-switch-all">
                                    <span class="ios-switch-control-indicator"></span>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% requests.forEach(request=> { %>
                            <tr scope="row" class="">
                                <td>
                                    <label class="control control--checkbox">
                                        <!-- <input type="checkbox" />
                                    <div class="control__indicator"></div> -->
                                    </label>
                                </td>
                                <td>
                                    <%= request._id %>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="name">
                                            <span class="editable" contenteditable="false" data-field="firstName">
                                                <%= request.firstName %>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="name">
                                            <span class="editable" contenteditable="false" data-field="lastName">
                                                <%= request.lastName %>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="name">
                                            <span class="editable" contenteditable="false" data-field="email">
                                                <%= request.email %>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                                <td class="pl-0">
                                    <div class="d-flex align-items-center">
                                        <a href="#" class="name">
                                            <span class="editable" contenteditable="false" data-field="subject">
                                                <%= request.subject %>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <small class="d-block editable" contenteditable="false" data-field="reason">
                                        <%= request.reason %>
                                    </small>
                                </td>
                                <td>
                                    <% if (request.approvement === null) { %>
                                        <small class="d-block text-muted">No response</small>
                                    <% } else if (request.approvement === true) { %>
                                        <small class="d-block text-success">Accepted</small>
                                    <% } else { %>
                                        <small class="d-block text-danger">Rejected</small>
                                    <% } %>
                                </td>
                                <td><button class="accept-btn btn btn-success" data-id="<%= request._id %>">Accept</button></td>
                                <td><button class="reject-btn btn btn-danger" data-id="<%= request._id %>">Reject</button></td>
                                <td>
                                    <label class="custom-control ios-switch">
                                        <input type="checkbox" class="ios-switch-control-input" checked="">
                                        <span class="ios-switch-control-indicator"></span>
                                    </label>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    




    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script src="/Javascript/Requests.js"></script> -->
</body>


</html>