<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Javascript/Checkout.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/CSS/Checkout.css">
    <title>Firoza | Checkout</title>
</head>

<body>
    <a href="/" class="logo" id="logo">Firoza</a>

    <div class="progress-checkout-container">
        <div class="progress-step-container">
            <div class="step-check"></div>
            <span class="step-title">SHIPPING</span>
        </div>
        <div class="progress-step-container">
            <div class="step-check"></div>
            <span class="step-title">PAYMENT</span>
        </div>
        <div class="progress-step-container">
            <div class="step-check"></div>
            <span class="step-title">REVIEWS</span>
        </div>
    </div>

    <div class="container hidden">
        <div class="card-container">
            <div class="front">
                <div class="image">
                    <img src="../images/Checkout/chip.png" alt="">
                    <img src="../images/Checkout/visa.png" alt="">
                </div>
                <div class="card-number-box">################</div>
                <div class="flexbox">
                    <div class="box">
                        <span>CARD HOLDER</span>
                        <div class="card-holder-name">FULL NAME</div>
                    </div>
                    <div class="box">
                        <span>EXPIRES</span>
                        <div class="expiration">
                            <span class="exp-month">MM</span>
                            <span class="exp-year">YY</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="back">
                <div class="stripe"></div>
                <div class="box">
                    <span>cvv</span>
                    <div class="cvv-box"></div>
                    <img src="../images/Checkout/visa.png" alt="">
                </div>
            </div>
        </div>

        <form action="" class="payment-form">
            <div class="inputBox">
                <span>CARD NUMBER</span>
                <input type="text" maxlength="19" class="card-number-input">
                <p class="card-length-message"></p>
            </div>
            <div class="inputBox">
                <span>CARD HOLDER</span>
                <input type="text" class="card-holder-input">
                <p class="error-message"></p>
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    <span>EXPIRATION MM</span>
                    <select name="" id="" class="month-input">
                        <option value="month" select disabled>month</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="inputBox">
                    <span>EXPIRATION YY</span>
                    <select name="" id="" class="year-input">
                        <option value="month" select disabled>year</option>
                        <option value="01">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                    </select>
                </div>
                <div class="inputBox">
                    <span>cvv</span>
                    <input type="text" maxlength="4" class="cvv-input">
                    <p class="error-message"></p>
                </div>
            </div>
            <input type="submit" value="PAY EGP <%= user.cart.totalprice %>" class="submit-btn" id="final-checkout-btn" onclick="handlePaymentFormSubmission()">
            <input type="submit" value="Back" class="submit-btn">
        </form>
    </div>

    <div class="form-container">
        <h2 class="form-title">BILLING ADDRESS</h2>
        <form action="" class="checkout-form">
            <div class="input-line">
                <label for="name">FULL NAME</label>
                <input type="text" name="name" id="name" placeholder="Your name and surname" value="<%= user.firstname %> <%= user.lastname %>">
            </div>
            <div class="input-line">
                <label for="Email">EMAIL</label>
                <input type="text" name="Email" id="Email" placeholder="example@example.com" value="<%= user.email %>">
            </div>
            <div class="input-line">
                <label for="Address">ADDRESS</label>
                <input type="text" name="Address" id="Address" placeholder="room-street-locality" value="<%= user.shipping_address && user.shipping_address.length > 0 ? user.shipping_address[0].address : '' %>">
            </div>
            <div class="input-line">
                <label for="City">CITY</label>
                <input type="text" name="City" id="City" placeholder="Cairo" value="<%= user.shipping_address && user.shipping_address.length > 0 ? user.shipping_address[0].city : '' %>">
            </div>
            <div class="input-container">
                <div class="input-line">
                    <label for="State">STATE</label>
                    <input type="text" name="State" id="State" placeholder="California" value="<%= user.shipping_address && user.shipping_address.length > 0 ? user.shipping_address[0].state : '' %>">
                </div>
                <div class="input-line">
                    <label for="Zipcode">ZIP CODE</label>
                    <input type="text" name="Zipcode" id="Zipcode" placeholder="123 456" value="<%= user.shipping_address && user.shipping_address.length > 0 ? user.shipping_address[0].postal_code : '' %>">
                </div>
            </div>
            <input type="button" value="Complete purchase" onclick="handleFormSubmission(event)">
        </form>
    </div>
    <script src="/Javascript/Checkout.js"></script>
</body>
<div class="login-message-popup" id="login-message-popup">
    <h2>Login Successful</h2>
    <i class="fa-solid fa-circle-check"></i>
</div>
<div class="login-message-popup" id="login-message-error-popup">
    <h2></h2>
    <i class="fa-solid fa-circle-xmark" style="color: #d60000;"></i>
</div>
</html>
