<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>
  <link rel="stylesheet" href="/CSS/Orders.css">
  <script src="/Javascript/editable.js"></script>
  <link rel="stylesheet" href="/CSS/nav-bar-white.css">
    <script src="/Javascript/nav-bar.js"></script>
    <script src="/Javascript/adminNavbar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
   <%- include('./partials/Admin-NavBar.ejs') %>

    <div class="container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Collection ID</div>
          <div class="col col-2">Collection Name</div>
          <div class="col col-3">Collation description</div>
          <div class="col col-5">Edit Collection</div>
          <div class="col col-6">Delete Collection</div>
        </li>
        <% getC.forEach(collection => { %>
          <li class="table-row">
            <div class="col col-1">
                <%= collection._id %>
            </div>
            <div class="col col-2">
              <span class="editable" contenteditable="false" data-field="Collection_Name"><%= collection.Collection_Name %></span>
            </div>
            <div class="col col-3">
              <small class="d-block editable" contenteditable="false" data-field="Collection_Description"><%= collection.Collection_Description %></small>
            </div>
            <div class="col col-4" >
                <button class="edit-btn btn btn-primary"><a href="/admin/editCollection/<%=collection._id %>" class="edit-btn btn btn-primary">Edit</a></button>
            </div>
            <div class="col col-5" >
                <button class="delete-btn btn btn-danger" data-id="<%= collection._id %>">Delete</button>
            </div>
          </li>
          <% }) %>
      </ul>
    </div>

</body>

</html>