<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="/CSS/nav-bar-white.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
    <script src="/Javascript/myAccount.js"></script>
    <script src="/Javascript/nav-bar.js"></script>
    <link rel="stylesheet" href="/CSS/myAccount.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>



<body>
    <div class="header">
        <%- include('./partials/Nav-bar.ejs') %>
    </div>

    <div class="wrapper">
        <div class="account-container">
            <h2>MY ACCOUNT</h2>
            <!-- <p>Please tell us about your preferences and special occasions by editing your personal information. We would love to share your celebration with exclusive content and surprises. Stay tuned!</p> -->
            <section class="personal-info">
                <h3>YOUR PERSONAL INFORMATION</h3>
                <% if (userInfo) { %>
                    <div class="info">
                        <h4>First Name: 
                            <span class="user-info-display"><%= userInfo.firstname %></span>
                            <input class="user-info-edit" type="text" name="firstname" value="<%= userInfo.firstname %>" style="display: none;">
                        </h4>
                        <h4>Last Name: 
                            <span class="user-info-display"><%= userInfo.lastname %></span>
                            <input class="user-info-edit" type="text" name="lastname" value="<%= userInfo.lastname %>" style="display: none;">
                        </h4>
                        <h4>Email Address: 
                            <span class="user-info-display"><%= userInfo.email %></span>
                            <input class="user-info-edit" type="email" name="email" id="email-input" value="<%= userInfo.email %>" style="display: none;">
                            <span id="email-status"></span>
                        </h4>
                    </div>
                    <div class="info-buttons">
                        <button id="edit-button">Edit</button>
                        <button id="save-button" style="display: none;">Save</button>
                        <button id="cancel-button" style="display: none;">Cancel</button>
                    </div>
                <% } else { %>
                    <p>User data not found.</p>
                <% } %>
            </section>
            <section class="order-history">
                <h3>ORDER HISTORY</h3>
                <div class="orders-container unexpanded">
                    <% if (ordersUser.length > 0) { %>
                        <% ordersUser.forEach(order => { %>
                            <div class="order-box">
                                <div class="order-info">
                                    <h2>Order ID: <%= order._id %></h2>
                                    <h2 class="status">Order Status: <%= order.status %></h2>
                                </div>
                                <ul class="product-list">
                                    <% order.product_ids.forEach(product => { %>
                                        <li class="product-item">
                                            <img src="/images/Indian/Newfolder/<%= product.img %>" alt="<%= product.name %>">
                                            <div class="product-details">
                                                <h2><%= product.name %></h2>
                                                <p>Price: $<%= product.price %></p>
                                            </div>
                                        </li>
                                    <% }); %>
                                </ul>
    
                                <div class="order-actions">
                                    <h2>total price: <%= order.total_price %></h2>
                                    <% if (order.status === 'pending') { %>
                                        <button class="cancel-button" onclick="openPopup('<%= order._id %>')">Cancel Order</button>
                                    <% } %>
                                    <% if (order.status === 'delivered') { %>
                                        <button class="review-button" onclick="openReviewPopup('<%= order._id %>')">Review Order</button>
                                    <% } %>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No orders found.</p>
                    <% } %>
                </div>
                <div class="action-buttons">
                    <button id="show-more-button" class="show-more-button" onclick="toggleOrders()">Show More Orders</button>
                    <button id="logout-button" class="logout-button" onclick="logout()">Logout</button>
                </div>
            </section>
           
        </div>
    </div>

    <div class="footer">
        <%- include('./partials/footer.ejs') %>
    </div>

    <div id="custom-popup" class="custom-popup">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <h2>Cancel Order Confirmation</h2>
            <p>Are you sure you want to cancel this order?</p>
            <div class="btn-container">
                <button class="confirm-cancel-buttons confirm" onclick="confirmCancel()">Yes</button>
                <button class="confirm-cancel-buttons" onclick="closePopup()">Go Back</button>
            </div>
        </div>
    </div>
    <div id="review-popup" class="review-custom-popup">
        <div class="review-popup-content">
            <span class="review-close-btn" onclick="closeReviewPopup()">&times;</span>
            <h2>Write a Review</h2>
            <div class="review-rating">
                <span class="fa-regular fa-star" data-rating="1"></span>
                <span class="fa-regular fa-star" data-rating="2"></span>
                <span class="fa-regular fa-star" data-rating="3"></span>
                <span class="fa-regular fa-star" data-rating="4"></span>
                <span class="fa-regular fa-star" data-rating="5"></span>
            </div>
            <textarea id="review-comment" class="review-comment" placeholder="Write your review here..." style="font-family: 'futura pt'; font-size: larger; font-weight: 400;"></textarea>
            <div class="review-btn-container">
                <button class="confirm-cancel-buttons" onclick="submitReview()">Submit Review</button>
                <button class="confirm-cancel-buttons" onclick="closeReviewPopup()">Cancel</button>
            </div>
        </div>
    </div>
</body>

</html>
