<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/nav-bar-white.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
    <link rel="stylesheet" href="/CSS/navBar.css">
    <link rel="stylesheet" href="/CSS/productCardDetails.css">
    <link rel="stylesheet" href="/CSS/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Product Details</title>
</head>
<body>
    <%- include('./partials/Nav-Bar.ejs') %>
    <div class="whole-prod-page">
        <div class="upper-half-prod">

            <section class="py-5" >
                <div class="container">
                    <div class="row gx-5">
                        <aside class="col-lg-6">
                            <div class="border rounded-4 mb-3 d-flex justify-content-center">
                                <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image">
                                    <img style="max-width: 100%; max-height: 70vh; margin: auto;" class="rounded-4 fit"
                                        src="<%= product.img %>" alt="Product Image" />
                                </a>
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                <% product.images.forEach(function(image) { %>
                                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" class="item-thumb">
                                        <img width="60" height="60" class="rounded-2" src="<%= product.images[0] %>" alt="Product Image" />
                                    </a>
                                <% }); %>
                            </div>
                            
                            <!-- thumbs-wrap.// -->
                            <!-- gallery-wrap .end// -->
                        </aside>
                    </div>
                </div>
            </section>


          
            <div class="price-rating">
                <h2><%= product.name %></h2>
                <br>
                <p>EGP <%= product.price %></p>
                <br><br>
                <% let isAvailable = false; %>

<% if (product.sizes && product.sizes.length > 0) { %>
    <% product.sizes.forEach(size => { %>
        <% if (size.quantity > 0) { %>
            <% isAvailable = true; %>
            <% return; %>
        <% } %>
    <% }) %>
<% } %>


                <div class="rate-stat" id="rate-stat">
                    <% for (let i = 0; i < Math.floor(averageRating); i++) { %>
                        <span class="star filled">&#9733;</span>
                    <% } %>
                    <% if (averageRating % 1 >= 0.5) { %>
                        <span class="star">&#9733;</span>
                    <% } %>
                    <% for (let i = Math.ceil(averageRating); i <= 5; i++) { %>
                        <span class="star">&#9733;</span>
                    <% } %>
                    <a href="#reviews" class="stat" id="average-rating">(Average Rating: <%= averageRating.toFixed(1) %>)</a>
                    <a href="#reviews" class="stat" id="review-count">(<%= reviewCount %> review<%= reviewCount !== 1 ? 's' : '' %>)</a>
                </div>
                <div class="button-container">
                   
                    <% if (isAvailable) { %>
                        <span class="button add-to-bag" onclick="addToCart('<%= product._id %>', '<%= product.price %>')"><i class="fas fa-shopping-bag"></i>Add to bag</span>
                        <span class="button add-to-wishlist" onclick="addToWishlist('<%= product._id %>')"><i class="fas fa-heart"></i>Add to wishlist</span>
                    <% } else { %>
                        <span class="button-soldout" ><i class="fas fa-shopping-bag"></i>Sold Out</span>
                        <span class="button-soldout" ><i class="fas fa-heart"></i>Sold Out</span>
                   <% } %>
                </div>
                <div class="item">
                    <div class="question-button-div">
                        <h5>Product Description</h5>
                        <i class="fa-solid fa-plus"></i>
                        <i class="fa-solid fa-minus"></i>
                    </div>
                    <p><%= product.description %></p>
                </div>
                <div class="item">
                    <div class="question-button-div">
                        <h5>Shipping and Returns</h5>
                        <i class="fa-solid fa-plus"></i>
                        <i class="fa-solid fa-minus"></i>
                    </div>
                    <div id="shipping-returns-content">
                        <div class="item-list">
                            <!-- <i class="fas fa-shipping-fast"></i> -->
                            <p><span>Ship to Home</span><br>
                            Standard Shipping<br>
                            FREE on all orders $75+.<br>
                            Arrives in 3-4 business days.</p>
                        </div>
                        <div class="item-list">
                            <!-- <i class="fas fa-truck"></i> -->
                            <p><span>Express Shipping</span><br>
                            Free on Lab-Grown Diamonds.<br>
                            Arrives in 1-2 business days.</p>
                        </div>
                        <div class="item-list">
                            <!-- <i class="fas fa-store"></i> -->
                            <p><span>In-Store Pickup</span><br>
                            Free on all orders.<br>
                            Ready for pickup within 2 hours.</p>
                        </div>
                        <div class="item-list">
                            <!-- <i class="fas fa-undo"></i> -->
                            <p><span>Returns</span><br>
                            Free and easy returns within 30 days, online or in-store.<br>
                            Prepaid return label included.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="question-button-div">
                        <h5>Similar Products </h5>
                        <i class="fa-solid fa-plus"></i>
                        <i class="fa-solid fa-minus"></i>
                    </div>
                   
                   
                    <div id="similar-products" >
                        <div class="item-list1">
                            <div class="product-grid smaller-card">
                              <div class="product-image">
                                <a href="/user/product/<%= product._id %>" class="image" onclick="fetchProductDetails('<%= product._id %>')">
                                  <img class="img-1" src="/images/Indian/Newfolder/<%= product.img %>" alt="<%= product.name %>">
                                </a>
                                <ul class="product-links">
                                  <li><a onclick="addToWishlist('<%= product._id %>')"><i class="fa fa-heart"></i></a></li>
                                  <li><a onclick="addToCart('<%= product._id %>', '<%= product.price %>')"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                              </div>
                              <div class="product-content">
                                <h3 class="title"><a href="#"> <%= product.name %> </a></h3>
                                <div class="price"> <%= product.price %> </div>
                               
                            </div>
                          
                              </div>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
         
       
        <div class="lower-half-prod">
            <h3>Reviews</h3>
            <hr class="details-divider">
            <div id="reviews">
                <% reviews.forEach(review => { %>
                    <div class="review-box">
                        <div class="review-left">
                            <div class="review-header">
                                <div class="review-avatar">
                                    <i class="fa-regular fa-circle-user"></i>
                                </div>
                                <div class="review-info">
                                    <p class="reviewer-name"><%= review.user.firstname %> <%= review.user.lastname %></p>
                                    <p class="review-date"><%= new Date(review.created_at).toLocaleDateString() %></p>
                                </div>
                            </div>
                            <div class="review-content">
                                <div class="review-rating">
                                    <% for (let i = 0; i < review.rating; i++) { %>
                                        <span class="star filled">&#9733;</span>
                                    <% } %>
                                    <% for (let i = review.rating; i < 5; i++) { %>
                                        <span class="star">&#9733;</span>
                                    <% } %>
                                </div>
                                <p class="review-text"><%= review.comment %></p>
                            </div>
                        </div>
                    </div>
                    <hr class="details-divider">
                <% }) %>
        </div>
        </div>
    </div>

    <script>
        function showPopup(message) {
            const popup = document.getElementById('login-message-popup');
            const popupMessage = popup.querySelector('h2');
            popupMessage.textContent = message;
            
            // Show the popup
            popup.classList.add('show');
            
            // Automatically hide popup after 3 seconds
            setTimeout(() => {
                popup.classList.remove('show');
            }, 3000); // Adjust timing as needed
        }

        function showErrorPopup(message) {
            const popup = document.getElementById('login-message-error-popup');
            const popupMessage = popup.querySelector('h2');
            popupMessage.textContent = message;
            
            // Show the popup
            popup.classList.add('show');
            
            // Automatically hide popup after 3 seconds
            setTimeout(() => {
                popup.classList.remove('show');
            }, 3000); // Adjust timing as needed
        }

        async function addToCart(productId, price) {
           
          
           
            try {
                const response = await fetch('/user/add-to-cart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId, price })
                });

                if (response.ok) {
                    const result = await response.json();
                    showPopup('Product added to cart successfully!');
                } else {
                    showErrorPopup('Failed to add product to cart. Please try again later.');
                }
            } catch (error) {
                console.error('Error:', error);
                showErrorPopup('Failed to add product to cart. Please try again later.');
            }
        }

        async function addToWishlist(productId) {

           
           

            try {
                const response = await fetch('/user/wishlist/add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId })
                });
                const data = await response.json();
                if (response.ok) {
                    showPopup('Product added to wishlist successfully!');
                } else {
                    showErrorPopup('Failed to add product to wishlist. Please try again later.');
                }
            } catch (error) {
                console.error('Error adding to wishlist:', error);
            }
        }
    </script>
   

    
    <!-- <script>
        // Populate product details from session storage
        const productDetails = JSON.parse(sessionStorage.getItem('productDetails'));
        if (productDetails) {
            document.getElementById('productImage').src = `/images/Indian/Newfolder/${productDetails.img}`;
            document.getElementById('productName').textContent = productDetails.name;
            document.getElementById('productPrice').textContent = productDetails.price;
            document.getElementById('productDescription').innerHTML = productDetails.description;
            // You can add more details as needed
        }
    </script> -->

    <script src="/Javascript/productCardDetails.js"></script>
    <script src="/Javascript/openproduct.js"></script>
</body>
</html>
