<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orders</title>
  <link rel="stylesheet" href="/CSS/Orders.css">
  <link rel="stylesheet" href="/CSS/Admin-NavBar.css">
  <script src="/Javascript/nav-bar.js"></script>
  <script src="/Javascript/adminNavbar.js"></script>
</head>

<body>
  <%- include('./partials/Admin-NavBar.ejs') %>

    <div class="container">

      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">First Name</div>
          <div class="col col-2">Last Name</div>
          <div class="col col-3">Type</div>
          <div class="col col-4">Email</div>
          <div class="col col-5">Status</div>
        </li>
        <% if (users.length> 0) { %>
          <% users.forEach(user=> { %> <!-- Note the lowercase 'users' -->
            <li class="table-row">
              <div class="col col-1">
                <%= user.firstname %>
              </div>
              <div class="col col-2">
                <%= user.lastname %>
              </div>
              <div class="col col-3">
                <%= user.isAdmin ? 'Admin' : 'User' %>
              </div>
              <div class="col col-4">
                <%= user.email %>
              </div>
              <div class="col col-5">status</div>
            </li>
            <% }) %>
              <% } else { %>
                <p>There are no Users to display...</p>
                <% } %>

      </ul>
    </div>
</body>

</html>