<!DOCTYPE html>
<html>
<head>
   <title>Wishlist</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />
   <link href="/CSS/wishlist.css" rel="stylesheet">
   <link rel="stylesheet" href="/css/nav-bar-white.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <script src="/Javascript/nav-bar.js"></script>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/Nav-Bar.ejs') %>
    
    <div class="container mt-5">
        <div class="row">
           <div class="col-md-8">
              <div class="card">
                 <div class="card-body">
                    <h4 class="card-title">Wishlist</h4>
                    <p class="text-muted items-count"><%= wishlist.length %> items</p>
                    <% wishlist.forEach(product => { %>
                        <div class="row mb-3 item-row" data-item="<%= product._id %>">
                           <div class="col-3">
                              <img src="/images/Indian/Newfolder<%= product.img %>" class="img-fluid rounded" alt="<%= product.name %>">
                           </div>
                           <div class="col-6 item-info">
                              <h6><%= product.name %></h6>
                              <p><%= product.description %></p>
                           </div>
                           <div class="col button-col">
                              <button onclick="addToCart('<%= product._id %>', '<%= product.price %>')">Add to Cart</button>
                           </div>
                           <div class="col-3 item-actions">
                              <p class="mb-0 item-price">EGP <%= product.price %></p>
                              <button type="button" class="close remove-item" aria-label="Close" onclick="removeFromWishlist('<%= product._id %>')">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                        </div>
                    <% }); %>
                    <div class="mt-4">
                       <a href="/user/shopAll" class="btn btn-link">&leftarrow; Back to shop</a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
   <script src="/Javascript/wishlist.js"></script>
</body>
</html>
